
//colors
$orange: hsl(26, 100%, 55%);
$pale-orange: hsl(25, 100%, 94%);

$very-dark-blue: hsl(220, 13%, 13%);
$dark-grayish-blue: hsl(219, 9%, 45%);
$grayish-blue: hsl(220, 14%, 75%);
$light-grayish-blue: hsl(223, 64%, 98%);
$white: white;
$black: black;
* {
    box-sizing: border-box;
    overflow-x: hidden;
    outline: none;
}
body {
    font-family: "Kumbh Sans";

    flex-direction: column;
    font-size: 16px;
    margin:auto;
    padding-left: 1em;
    padding-right: 1em;
}
header {
    max-height: 120px;
    padding-top: 1em;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}
main {
    max-width: 1000px;
    margin: 0 auto;
}
p {
    color: $dark-grayish-blue;
    font-weight: 400;
}
a {
    text-decoration: none;
    color: $dark-grayish-blue;
}

button {
    cursor: pointer;
}

ul {
    padding-left: 0;
}
.flex-container {
    display: flex;
}

.header-box {
    align-items: center;
}

.nav-bar {
    flex-direction: column;
    background-color: white;
}

.shop-menu-btn {
    overflow: hidden;
    outline: none;
    border: none;
    background-color: white;
}

.shop-menu {
    font-size: 20px;
    padding: 16px;
}

.dropdown-wrapper {
    overflow: visible;
    position: absolute;
    top: 50px;
    padding-top: 2em;
    padding-right: 1em;
    display: flex;
    
}
.dropdown-flex-wrapper {
    flex-direction: column;
    align-items: center;
}

.dropdown-cart {
    display: none;
    overflow: visible;
    padding: 1em;
    background-color: white;
    border-radius: 12px;
    box-shadow: 0 50px 100px -20px rgba(0, 0, 0, .12),
    0 30px 60px -30px rgba(0, 0, 0, .15);
    z-index: 2;
    animation: 200ms ease-in-out 0ms 1 normal none running fadeIn;
}

.dropdown-divider {
    border-top: 1px solid $grayish-blue;
    width: 110%;
    max-width: 110%;
    margin-left: -1em;
}

.cart-thumbnail{
    width: 18%;
    height: 18%;
    border-radius: 4px;
}

.cart-text-container {
    margin: 0 1em;    
}


.cart-product-title {
    margin-top: 0;
    margin-bottom: 0.5em;
}

.cart-final-price{
    margin-left: 1em;
    font-weight: 700;
}
.cart-delete-btn{
    object-fit: contain;
}
.cart-checkout-btn{
    height: 60px;
    width: 100%;
    font-weight: 700;
    color: white;
    background-color: $orange;
    border-radius: 10px;
    border: none;
    outline: 0;
    position: relative;
    transition: all 200ms;
    cursor: pointer;
}
.cart-checkout-btn:active {
top: 2px;
}

.cart-checkout-btn-wrapper{
    width: 100%;
    margin: 0.5em 0;

}
//Animation for hiding cart 
.header-box>div:hover .dropdown-cart, 
.header-box>div:focus-within .dropdown-cart {
    display: block;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.99) 
        translateY(-0.7em);
        transform-origin: top;
    }
    to {
        opacity: 1;
        transform: scale(1) translateY(0);
    }
}

.avatar {
    height: 30px;
    width: 30px;
}
#open-nav-btn {
    overflow: hidden;
    margin: 1em;
}
.nav-link {
    font-weight: 700;
    padding: 1em;
}
.nav-link:hover {
    background-color: $light-grayish-blue;
}
.sneakers-logo {
    max-height: 40px;
    max-width: 240px;
    width: auto;
    height: auto;
    margin-right: 2em;
}

.nav-collapse {
    display: none;

}

.main-container {
    flex-direction: column;

}
.main-image {
    width: inherit;
    height: auto;
    max-width: 500px;
    max-height: 500px;
}
.gallery-wrapper {
    flex-direction: column;
    height: auto;
    max-width: 500px;
}
.thumbnail-wrapper {
    flex-direction: row;
    display: none;
}

.infotainer {
    flex-direction: column;
    margin: 0 1em;
}

.company-name {
    color: $orange;
    font-size: 16px;
    font-weight: 700;
    margin: 1em 0;
}
.product-title {
    font-size: 24px;
}
.prices-container {
    gap: 1em;
    align-items: flex-end;
    flex-wrap: wrap;
}
.price, .cart-title {
    font-size: 24px;
    font-weight: 700;
}
.discount {
    color: $orange;
    background-color: $pale-orange;
    font-weight: 700;
    padding: 4px 8px;
    border-radius: 10px;
}
.original-price {
    font-size: 20px;
    color: $grayish-blue;
    text-decoration: line-through;
    margin-left: auto;
}

#cart-icon {
    color: white;
    margin-right: 1em;
}
.shop-bottom-container {
    overflow: hidden;
    flex-wrap: wrap;
    margin: 1em;
    gap: 1em;
    padding: 0.5em;
}
.quantity-container {
    overflow: hidden;
    margin: inherit auto;
    flex-basis: 100px;
    justify-content: space-between;
    background-color: $light-grayish-blue;
    border-radius: 10px;
    align-items: center;
    height: 60px;
    padding: 10px;
    flex-grow: 1;
}
.cart-btn{
    flex-basis: 150px;
    flex-grow: 1.3;
    height: 60px;
    font-weight: 700;
    height: 4em;
    color: white;
    background-color: $orange;
    border-radius: 10px;
    border: none;
    outline: 0;
    position: relative;
    transition: all 200ms;
    cursor: pointer;
}
.cart-btn:active {
    top: 2px;
}


#minus-button, #plus-button{
    overflow: hidden;
    height: 20px;
    width: 20px;
}
.plus-minus-img {
    margin: auto;
    width: inherit;
    height: auto;
}


#minus-button, #plus-button, .avatar, .shop-menu, .thumbnail, .cart-delete-btn {
    cursor: pointer;
}


.hide {
    opacity: 0;
    display: none;
}


.selected-image {
    opacity: 1;
    border: 3px solid $orange;
}

// MOBILE ONLY
@media screen and (max-width:1023px){
    body {
        padding: 0;
    }
    .nav-bar {
        height: 100vh;
        width: 12em;
        position: absolute;
        top: 0px;
        padding-top: 1.5em;
        z-index: 3;
        transition: 0.3s;
    }
    .nav-bar::backdrop{
        background-color: black;
        opacity: 75%;
    }
    .nav-collapse {
        display: block;
        padding: 1em;
    }
    .main-image {
        max-width: 100vw;
        max-height: 400px;
        margin: auto;
    }
    .hidden-nav {
        width: 0 !important;
    }
    .dropdown-cart {
        width: 500px;
        max-width: 90vw;

    }
    .dropdown-wrapper {
        top: 4em;
        left: 5vw;
        padding-top: 2em;
    }
}


//tablets and up
@media only screen and (min-width: 767px) {
    body {
        padding: 0 2em;
    }

    #nav-button {
        display: none;
    }
    .avatar {
        height: 60px;
        width: 60px;
    }
    .shop-menu {
        color: $dark-grayish-blue;
        font-size: 30px;
        margin: 16px;
        
    }
    .main-image {
        border-radius: 20px;
    }


}

//Laptops and larger
@media only screen and (min-width:1024px) {
    main {
        max-width: 1200px;
    }
    .main-container {
        margin-top: 3em;
        flex-direction: row;
        gap: 5em;
        padding:1em;
    }
    .nav-link {
        font-size: 16px;
        color: $dark-grayish-blue;
    }
    .nav-bar {
        position: static;
        flex-direction: row;
    }
    .avatar {
        height: 50px;
        width: 50px;
    }
    .thumbnail-wrapper{
        width: inherit;
        height: inherit;
        margin-top: 2em;
        display: flex;
        justify-content: space-between;
    }
    .thumbnail {
        width: 18%;
        height: 18%;
        border-radius: 16px;
        height: auto;
        transition: all 250ms;
        background-color: $white;
    }
    .infotainer {
        flex-grow: 1;
        flex-basis: 50%;
    }
    .product-title {
        font-size: 36px;
        margin: 36px 0;
    }
    .original-price {
        margin-left: 2em;
    }
    .shop-bottom-container{
        margin: 36px 0;
    }
    .nav-link {
        font-weight: 400;
    }
    .divider {
        border-top: 1px solid $grayish-blue;
        margin: auto;
        width: 1200px;
    }
    .dropdown-cart {
        width: 24em;
        max-width: 24em;
    }
    .dropdown-wrapper {
        right:150px;
    }
    
}

